[Unit]
Description=Celery Beat Service
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/kenya_baby_ecommerce/backend
Environment=PATH=/opt/venv/bin
ExecStart=/opt/venv/bin/celery -A kenya_ecom beat -S django -l INFO --pidfile=/var/run/celerybeat.pid
Restart=always

[Install]
WantedBy=multi-user.target
