[Unit]
Description=gunicorn daemon for Malaika Nest
After=network.target

[Service]
User=appuser
Group=appuser
WorkingDirectory=/var/www/malaikanest/backend
Environment=DJANGO_ENV=prod
EnvironmentFile=-/var/www/malaikanest/backend/.env.production
ExecStart=/var/www/malaikanest/venv/bin/gunicorn --access-logfile - --workers 4 --bind 127.0.0.1:8000 config.wsgi:application
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
