[Unit]
Description=gunicorn daemon for Malaika Nest
After=network.target

[Service]
User=mohameddosho20
Group=mohameddosho20
WorkingDirectory=/home/mohameddosho20/malaikanest/backend
ExecStart=/usr/bin/python3 -m gunicorn --access-logfile - --workers 4 --bind unix:/run/gunicorn.sock config.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target
